body {
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
}

/* Hero Section with Background Animation */
.hero-section {
  height: 100vh;
  width: 100%;
  position: relative;
  background-size: cover;
  background-position: center;
  animation: changeBg 25s infinite linear;
}

@keyframes changeBg {
  0% {
    background-image: url("/assets/images/home-background-img-1.jpg");
  }
  20% {
    background-image: url("/assets/images/home-background-img-2.jpg");
  }
  40% {
    background-image: url("/assets/images/home-background-img-3.jpg");
  }
  60% {
    background-image: url("/assets/images/home-background-img-4.jpg");
  }
  80% {
    background-image: url("/assets/images/home-background-img-5.jpg");
  }
  100% {
    background-image: url("/assets/images/home-background-img-1.jpg");
  }
}

.hero-content {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black,
    1px 1px 0 black;
}

.hero-content h1 {
  font-size: 4.2rem;
  text-align: center;
  font-weight: bold;
}

.hero-content p {
  font-size: 1.8rem;
}

/* Navbar Styles */
.navbar {
  background: #011e3a !important;
  padding: 15px 30px;
}

.navbar-brand {
  font-size: 1.8rem;
  font-weight: bold;
  color: #fff !important;
}

.navbar-nav .nav-link {
  font-size: 1.2rem;
  color: white !important;
  padding: 10px 15px;
  transition: 0.3s ease-in-out;
}

.navbar-nav .nav-link:hover {
  color: #ffcc00 !important;
  background-color: #22282e;
  border-radius: 5px;
}

.dropdown-menu {
  background-color: rgba(0, 0, 0, 0.8);
  border: none;
}

.dropdown-menu .dropdown-item {
  color: white !important;
  transition: 0.3s ease-in-out;
}

.dropdown-menu .dropdown-item:hover {
  background-color: #ffcc00 !important;
  color: black !important;
}

.navbar-toggler {
  border-color: white !important;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=UTF8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba%28255, 255, 255, 1%29' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E") !important;
}
